*{margin: 0;padding: 0;}
img{display: block;}
h1,h2,h3{font-size: 16px;font-weight: normal;}
ul{list-style: none;}
a{text-decoration: none;color: #333333;}
html,body{font-family: Arial; height: 100%; overflow-y: hidden;}
.l{float: left;}
.r{float: right;}
.clear::after{content: '';display: block;clear: both;}

#header{height: 80px; background: #018ffb;border-top: #424147 5px solid;}
.header_logo{}
.header_logo h1{margin: 19px 14px 0 20px;}
.header_logo h2{color: white;font-size: 25px;line-height: 80px;}
.header_nav{font-size: 14px; color: white;}
.header_nav li{float: left; line-height: 80px;margin-right: 25px;}
.header_nav a{color: white;}
.header_nav i{margin-left: 8px;}
.header_nav i.iconwode{font-size: 18px;}

#menu{width: 200px; height: calc(100% - 85px);background: #424147;}
#menu li{width: 100%;height: 140px;border-bottom: 1px solid #3a393e;border-top: 1px solid #49484e;text-align: center;color: #9A999E;}
#menu li.active{color: white; background: #4e4d53;}
#menu li a{color: inherit; width: 100%; height: 100%; display: block;margin-top: 35px;}
#menu li a i{font-size: 40px; }
#menu li a p{padding-top: 15px;}

#main{width: calc(100% - 200px);overflow: hidden; height: calc(100% - 85px - 50px);}
#main_containner{width: 100%; height: 100%;overflow: auto;}

#projectTitle{}
#projectTitle .projectTitle_text{margin-left: 22px;}
#projectTitle h2{font-size: 24px;line-height: 25px; color: #333333;margin: 21px 0 10px 0;}
#projectTitle i{margin-left: 31px; font-size: 22px;}
#projectTitle p{font-size: 14px;line-height: 30px;}
#projectTitle p span{color: #999999;}
#projectTitle .projectTitle_img{margin: 20px 20px 0 0;}

#projectList{margin-top: 12px;}
#projectList .projectList_btn{height: 55px;background: #f1f9fc;border: solid 1px #e0eaef;}
#projectList .projectList_btn ul{margin:15px 0 0 20px;}
#projectList .projectList_btn li{width: 108px;height: 38px;border: solid 1px #dbe7ed;border-bottom: none;background: #fbfeff;float: left;text-align: center;line-height: 38px;margin-right: 12px;border-radius: 5px 5px 0 0;cursor: pointer;}
#projectList .projectList_btn li.active{background: #018ffb;color: white;position: relative;}
#projectList .projectList_btn li.active::after{content: '';display: block;width: 11px;height: 6px; position: absolute;background: url(../img/arrow.png) no-repeat;bottom: -6px; left: 50%; margin-left: -6px;}

#projectList .projectList_cons{margin: 20px;}
#projectList .projectList_cons>div{display: none;}
#projectList .projectList_cons .show{display: block;}

#projectList .projectList_cons .zl_upload1,#projectList .projectList_cons .zl_upload2{ width: 110px;height: 32px;color: white; font-size: 14px;line-height: 32px;text-align: center;border-radius: 5px;cursor: pointer;}
#projectList .projectList_cons .zl_upload1 label,#projectList .projectList_cons .zl_upload2 label{cursor: pointer;}
#projectList .projectList_cons .zl_upload1 input,#projectList .projectList_cons .zl_upload2 input{display: none;}
#projectList .projectList_cons .zl_upload1{background: #5FD15C;margin-right: 20px;}
#projectList .projectList_cons .zl_upload1 i{position: relative;top: 1px;font-size: 13px;}
#projectList .projectList_cons .zl_upload2{background: #34C1DA;}
#projectList .projectList_cons .zl_search{border: #dbe7ed 1px solid; width: 210px;height: 30px;border-radius: 5px;}
#projectList .projectList_cons .zl_search input{ width: 177px;height: 30px;text-indent: 9px; border: none;border-right: #dbe7ed 1px solid;color: #999999;position: relative;top: -1px;}
#projectList .projectList_cons .zl_search button{border: none; background-image: linear-gradient(#FCFDFD,#F1F9FC);width: 27px;height: 27px;position: relative;top: 2px; cursor: pointer;}
#projectList .projectList_cons .zl_search button i{font-size: 18px;color: #A1C6D4;font-weight: bold;}

.zl_table{clear: both;width: 100%;border: 1px solid #dbe7ed;border-collapse: collapse;font-size: 12px;text-indent: 9px;position: relative;top: 20px;}
.zl_table thead{text-align: left;color: #666666; background: #f1f9fc;font-weight: normal;}
.zl_table th{border-right: 1px solid #dbe7ed;}
.zl_table th:first-child{text-align: center;text-indent:0}
.zl_table td{}
.zl_table td:first-child{text-align: center;text-indent:0}
.zl_table tr{border: 1px solid #dbe7ed;height: 33px;}
.zl_table tr:hover{background: #f1f9fc;}
.zl_table .iconword{color: #0073cc; margin-right: 13px;}

.zl_table .iconxiazai{color: #3da2f0;}
.zl_table .iconshanchu1{color: #d94141;}

.zl_footer{height: 70px;border: 1px solid #e7eff3;border-top: none;
 margin-top: 20px;}
.zl_footer .button{margin-top: 22px;margin-left: 17px;}
.zl_footer .button .remove,.zl_footer .button .download{width: 80px;height: 26px;background: #C9E4F1;background-image: linear-gradient(#F7FCFF,#E7F4FA);font-size: 12px;color: #1B84BA;cursor: pointer;text-align: center;line-height: 26px;border-radius: 5px;}
.zl_footer .button .remove{margin-right: 15px;}
.zl_footer .button .download{}
.page{margin-top: 22px;font-size: 0;}
.page a{padding: 6px 9px;text-align: center;font-size: 12px;border: 1px solid #e6e6e6;margin-right: 10px;}
.page .active{background: #42adff;}

#footer{width: calc(100% - 20px); height: 49px; border-top: #dbe7ed 1px solid;background: #f1f9fc; text-align: right;padding-right: 20px;line-height: 50px;color:#888888 ;}